a.neon1:hover {
  border: solid 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ae52d4, 0 0 20px #ae52d4, 0 0 30px #ae52d4, 0 0 40px #ae52d4;
}

a.neon2:hover {
  border: solid 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px #00bcd4, 0 0 20px #00bcd4, 0 0 30px #00bcd4, 0 0 40px #00bcd4;
}

.neon1 {
  /* Blue */
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #00bcd4, 0 0 20px #00bcd4, 0 0 30px #00bcd4, 0 0 40px #00bcd4, 0 0 55px #00bcd4, 0 0 70px #00bcd4;
}

.neon2 {
  /* Purple */
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #ae52d4, 0 0 20px #ae52d4, 0 0 30px #ae52d4, 0 0 40px #ae52d4, 0 0 55px #ae52d4, 0 0 70px #ae52d4;
}

.neonFlicker {
  animation: neonFlicker 4s infinite;
  z-index: -1;
}

@keyframes neonFlicker {
  0% {
    opacity: 1;
  }

  18% {
    opacity: 1;
  }

  19% {
    opacity: .6;
  }

  20% {
    opacity: .5;
    text-shadow: 0 0 5px #fff, 0 0 6px #ae52d4, 0 0 12px #ae52d4, 0 0 18px #ae52d4, 0 0 20px #ae52d4, 0 0 30px #00bcd4, 0 0 50px #ae52d4;
  }

  22% {
    opacity: .6;
  }

  24% {
    opacity: 1;
  }

  83% {
    opacity: 1;
  }

  84% {
    opacity: .6;
  }

  85% {
    opacity: .8;
  }

  86% {
    opacity: .4;
    text-shadow: 0 0 5px #fff, 0 0 6px #ae52d4, 0 0 12px #ae52d4, 0 0 18px #ae52d4, 0 0 20px #ae52d4, 0 0 30px #ae52d4, 0 0 50px #ae52d4;
  }

  89% {
    opacity: .8;
  }

  92% {
    opacity: .6;
  }

  100% {
    opacity: 1;
  }
}

.neonDelay {
  animation-delay: 3000ms;
  z-index: 30;
}