img:hover {
  @keyframes hoverAnimation {
    0% {
      
    }
    
    25% {
      transform: rotate(-20px);
      -webkit-transform: rotate(-20px);
      -moz-transform: rotate(-20px);
      -ms-transform: rotate(-20px);
      -o-transform: rotate(-20px);
    }
    
    50% {
      transform: rotate(0px);
      -webkit-transform: rotate(0px);
      -moz-transform: rotate(0px);
      -ms-transform: rotate(0px);
      -o-transform: rotate(0px);
    }
    
    75% {
      transform: rotate(20px);
      -webkit-transform: rotate(20px);
      -moz-transform: rotate(20px);
      -ms-transform: rotate(20px);
      -o-transform: rotate(20px);
    }
    
    100% {
      
    }
    
  }
}